/* start of description-section */

.description-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    background-color: var(--light-color);
}

.picture-description-block {
    display: flex;
    justify-content: center;
    width: 50%;
}

.picture-description-block img {
    height: 480px;
}

.description-text-block div {
    font-size: 16px;
    opacity: 96%;
    padding: 16px 0;
}

.description-about-us {
    flex-direction: column;
    width: 50%;
    text-align: left;
    padding-inline: 15px;
}

.description-text {
    font-size: 1.3em;
    color: var(--dark-color);
    opacity: 95%;
    font-weight: 400;
}

.social-icons_btn_2 {
    display: flex;
    justify-content: left;
}

.social-icons_btn_2 a img {
        color: var(--light-color);
        width: 30px;
        height: 30px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 6px 6px;
        box-shadow: 0 0 0 1px var(--dark-color);
        fill: currentColor;
}
.social-icons_btn_2 a img {
    height: 40px;
    width: 77%;
}

p .detail_link {
    text-decoration: none;
    color: var(--dark-color);
    font-weight: 600;
}
.pop-up {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;

}
.pop-up .overlay  {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(20px);
    z-index: 1;
}
.pop-up-body {
    position: relative;
    z-index: 2;
    min-height: 70%;
    padding: 30px 10px;
    background-color: var(--light-color);
    border: 2px solid var(--dark-color);
}
.buttons-container .button-popup-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
}
.buttons-container .button-popup-close a:hover {
    background-color: var(--dark-color);
    opacity: .7;
    padding: 10px;
    color: var(--light-color);
}
.pop-up-content {
    background-color: var(--light-color);
    max-width: 350px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}
.pop-up-title {
    margin-top: 20px;
    padding: 10px 10px;
    text-align: center;
}
.pop-up-text {
    padding: 10px 30px;
    color: var(--text-color);
    text-align: center;
}

@media (min-width: 500px) {
    .pop-up {
        overflow-y: hidden;
        overflow-x: hidden;
    }
      
    .pop-up-content {
        max-width: 770px;
    }

}
@media screen and (max-width:930px) {
    .description-text {
        font-size: 1.2em;
    }
}
@media screen and (max-width:904px) {
    .description-text {
        font-size: 1.2em;
    }
    .description-about-us {
        padding-left: 33px;
    }
    .description-text-block div {
        padding: 10px 0;
    }
    .picture-description-block img {
        height: 450px;
    }
    .social-icons_btn_2 .icon_pic img {
        height: 35px;
    }
}
@media screen and (max-width:767px){
    .description-text {
        font-size: 1.1em;
    }
    .description-about-us {
        padding-left: 57px;
    }
    .description-about-us h4 {
        font-size: 49px;
    }
    .social-icons_btn_2 .icon_pic img {
        height: 30px;
    }
    .picture-description-block img {
        height: 430px;
    }
}
@media screen and (max-width:724px) {
    .description-container {
        flex-direction: column;
    }
    .picture-description-block {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .description-about-us {
        flex-direction: column;
        width: 100%;
        text-align: left;
        padding-inline: 15px;
    }
    .picture-description-block img {
        height: 100%;
        width:100%;
    }
    .description-text {
        font-size: 1.3em;
    }
}
@media screen and (max-width:520px) {
    .description-text {
        font-size: 1.2em;
    }
    .description-about-us h4 {
        font-size: 45px;
    }
}
@media screen and (max-width:400px) {
    .description-text {
        font-size: 1.3em;
    }
}
@media screen and (max-width:340px) {
    .description-text {
        font-size: 1.1em;
    }
}
/* end of description-section */