/* start of description-section */

.description-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    background-color: var(--light-color);
}

.picture-description-block {
    display: flex;
    justify-content: center;
    width: 50%;
}

.picture-description-block img {
    width: 458px;
    height: 480px;
}

.description-text-block div {
    font-size: 16px;
    opacity: 96%;
    padding: 16px 0;
}

.description-about-us {
    flex-direction: column;
    width: 50%;
    text-align: left;
    word-wrap: break-word;
    padding-inline: 15px;
}

.description-text {
    font-size: 1.3em;
    color: var(--dark-color);
    opacity: 95%;
    font-weight: 400;
}

.social-icons_btn_2 {
    display: flex;
    justify-content: left;
}

.social-icons_btn_2 .icon_pic {
    padding-inline-end: 23px;
    padding-block: 8px;
}

p .detail_link {
    text-decoration: none;
    color: var(--dark-color);
    font-weight: 600;
}


/* end of description-section */