@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --light-color: #fff;
    --accent-color: #0db496;
    --dark-color: #383737;
}

p {
    font-family: 'Lato', sans-serif;
    color: #6c757d;
    font-size: 1rem;
}

h1 {
    line-height: 1.5;
    font-size: 38px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: var(--light-color);
    letter-spacing: 0;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #383737;
}

h3 {
    font-family: 'Lato', sans-serif;
    color: var(--light-color);
    font-size: 24px;
}

h4 {
    line-height: 1;
    font-size: 52px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    width: 100%;
    align-items: center;
}


/* start of header section*/

header {
    background: linear-gradient(rgba(55, 56, 55, 0.8), rgba(55, 56, 55, 0.8)), url(../img/running-men.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.accent-color {
    color: var(--accent-color);
}

.logo {
    display: inline-flex;
}

header nav {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 25px;
    align-items: center;
}

header nav .menu a {
    color: var(--light-color);
    text-decoration: none;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.burger-icon {
    font-size: 30px;
    color: var(--light-color);
}

.burger-icon:hover {
    cursor: pointer;
}

#burger-checkbox {
    display: none;
}

header nav .menu {
    display: none;
}

header nav .social-icons {
    display: none;
}

header nav input:checked~.menu {
    display: flex;
}

@media (min-width: 768px) {
    .burger-icon {
        display: none;
    }
    header nav .menu {
        display: flex;
    }
    header nav .social-icons {
        display: flex;
    }
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 110px;
    padding-bottom: 110px;
}

.banner h4 {
    font-size: 60px;
    color: var(--light-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-text {
    font-size: 20px;
    color: var(--light-color);
    margin-top: 35px;
    font-weight: 400;
}


/* end of header section*/


/* start of description-section */

.description-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    background-color: var(--light-color);
}

.picture-description-block {
    display: flex;
    justify-content: center;
    width: 50%;
}

.picture-description-block img {
    width: 458px;
    height: 480px;
}

.description-text-block div {
    font-size: 16px;
    opacity: 96%;
    padding: 16px 0;
}

.description-about-us {
    flex-direction: column;
    width: 50%;
    text-align: left;
    word-wrap: break-word;
    padding-inline: 15px;
}

.description-text {
    font-size: 1.3em;
    color: var(--dark-color);
    opacity: 95%;
    font-weight: 400;
}

.social-icons_btn_2 {
    display: flex;
    justify-content: left;
}

.social-icons_btn_2 .icon_pic {
    padding-inline-end: 23px;
    padding-block: 8px;
}

p .detail_link {
    text-decoration: none;
    color: var(--dark-color);
    font-weight: 600;
}


/* end of description-section */


/* start of choose-us-section*/

.choose-us {
    background: linear-gradient(rgba(56, 55, 55, 0.9), rgba(56, 55, 55, 0.9)), url(../img/running-crew.jpg);
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
}

.choose-us-content {
    display: grid
}

.choose-us-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.choose-us-title h2 {
    color: var(--accent-color);
    font-size: 38px;
}

.choose-us-title p {
    font-size: 20px;
    color: #e7e7e7;
}

.choose-us-icon {
    padding: 12px;
}

.choose-us-block {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    padding: 27px;
    background-color: var(--dark-color);
    margin-top: 50px;
}

.choose-us-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 20px;
}

.choose-us-text p {
    color: #b9b9b9;
    margin-top: 20px;
}


/* end of choose-us-section*/

section.programs {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 100%;
    border: 90px 0 90px;
    background-color: #f0efeb;
}

section.programs div.our-programs-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    padding: 20px 20px;
    text-align: center;
}

section.programs div.our-programs {
    display: flex;
    justify-content: center;
    padding: 30px;
}

section.programs div.our-programs a {
    display: flex;
    flex-direction: column;
    background-color: white;
}

section.programs div.our-programs h2 {
    display: block;
    text-align: start;
    font-size: 1rem;
    margin: 20px 0 20px 20px;
}

div.our-programs img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 50% 50%;
    margin: 20px 20px 0 20px;
}

@media (min-width: 600px) {
    section.programs {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    section.programs div.our-programs-title {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        padding: 20px 20px;
        text-align: center;
    }
    section.programs>div.our-programs-title>p {
        text-align: center;
    }
}


/* start of slogan section */

.slogan {
    background-color: var(--dark-color);
}

.slogan-container {
    max-width: 1200px;
    margin: 0 auto;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slogan-container {
    color: var(--accent-color);
}

.slogan-container span {
    color: var(--light-color);
    font-size: 1.4em;
    padding-block: 30px;
}

.slogan-container h4 {
    font-size: 52px;
}

.slogan-container .buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.slogan-container .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: var(--accent-color);
    border-radius: 25px;
    border-style: solid;
    width: 147px;
    height: 48px;
    margin: 20px;
    color: var(--light-color);
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 600;
}

.buttons .btn_2 {
    background-color: var(--accent-color);
    opacity: 90%;
}

.slogan-container .buttons :first-child:hover {
    background-color: var(--accent-color);
    color: var(--light-color);
    opacity: 100%;
}

.slogan-container .buttons :last-child:hover {
    background-color: var(--accent-color);
    color: var(--light-color);
    opacity: 100%;
}


/* end of slogan section */


/* start of testimonial section  */

.testimonials-section {
    background-color: #383737;
}

.testimonials-container {
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    align-items: center;
}

.testimonials-container h4 {
    color: var(--accent-color);
    padding-top: 100px;
    font-size: 52px;
}

.testimonials-block {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
}

.testimonials-block .arrow {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(50% - 22.5px);
    transform: translateY(-50%);
    background-color: #fff;
    opacity: .85;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
}

.testimonials-block .arrow svg {
    width: 20px;
    height: auto;
}

.testimonials-block .left svg {
    transform: rotate(180deg);
}

.testimonials-block .arrow:hover {
    opacity: 1;
}

.testimonials-block .left {
    left: 0;
}

.testimonials-block .right {
    right: 0;
}

.testimonials-block :nth-child(4) {
    display: none;
}

.reviewer_block {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 270px;
}

.img_reviewer_block img {
    height: 190px;
    width: 300px;
}

.reviewer_block .text-labels {
    padding-top: 20px;
    font-size: 1.4em;
    font-weight: 600;
    color: var(--light-color);
}


/* end of testimonial section */


/*section upcoming events*/

.upcoming-section {
    padding: 100px 200px 100px;
}

.upcoming-h {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 52px;
}

.upcoming-b {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block-event {
    background-color: #383737;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 20px;
    width: 50%;
    padding: 60px 40px;
}

.row {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 450px;
}

.text-event {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    color: #0db496;
}

.year-text-event {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    color: #ffffff;
}

.text-event-date {
    color: #b9b9b9;
}

.text-event-learn {
    color: #ffffff;
}

.block-img {
    position: relative;
    height: 100%;
    width: 50%;
}

.block-img img {
    height: 100%;
    width: 100%;
}

.text-in-block {
    padding: 60px 40px;
}


/* start question-sector */

.question-section {
    background: no-repeat url('../img/background_quetion_sector.jpg');
    height: 318px;
}

.question-section .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.container_partnership {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 196px;
}

.container_partnership h2 {
    padding-top: 62px;
    font-size: 52px;
    font-weight: 500;
    color: var(--light-color);
}

.container_partnership p {
    font-size: 21px;
    color: var(--light-color);
    padding: 22px;
}

.container_contact-us {
    width: 40%;
    height: 100%;
}

.container_contact-us .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 110px;
}

.container_contact-us .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: var(--light-color);
    border-radius: 25px;
    border-style: solid;
    width: 147px;
    height: 48px;
    margin: 20px;
    background-color: var(--light-color);
    color: var(--accent-color);
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 600;
}

.container_contact-us .button:hover {
    color: var(--light-color);
    border-color: var(--light-color);
    opacity: 100%;
    background-color: var(--accent-color);
}


/* end of question-section */