@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --light-color: #fff;
    --accent-color: #0db496;
    --dark-color: #383737;
}

p {
    font-family: 'Lato', sans-serif;
    color: #6c757d;
    font-size: 1rem;
}

h1 {
    line-height: 1.5;
    font-size: 38px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: var(--light-color);
    letter-spacing: 0;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #383737;
}

h4 {
    line-height: 1;
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: var(--light-color)
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 24px;
    width: 100%;
    align-items: center;
}

header {
    background: linear-gradient(rgba(55, 56, 55, 0.8), rgba(55, 56, 55, 0.8)), url(../img/running-men.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.accent-color {
    color: var(--accent-color);
}

header nav {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

header nav .menu a {
    color: var(--light-color);
    text-decoration: none;
    font-size: 18px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 110px;
    padding-bottom: 110px;
}

.banner-text {
    font-size: 20px;
    color: var(--light-color);
}

.description_container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    background-color: #fff;
}

.picture-description-block {
    display: flex;
    justify-content: center;
    width: 50%;
}

.picture-description-block img {
    width: 550px;
}

.description-about-us {
    flex-direction: column;
    width: 50%;
    text-align: left;
    word-wrap: break-word;
}

.container_2-text {
    font-size: 1.3em;
    padding: 20px 0;
    color: #383737;
}

.social-icons_btn_2 {
    display: flex;
    justify-content: left;
}

.social-icons_btn_2 .icon_pic {
    padding-inline-end: 23px;
    padding-block: 15px;
}

p .detail_link {
    text-decoration: none;
    color: #27292b;
    font-weight: 600;
}

.slogan {
    background-color: #383737;
}

.slogan-container {
    max-width: 1200px;
    margin: 0 auto;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slogan-container {
    color: #0db496;
}

.slogan-container span {
    color: #fff;
    font-size: 1.4em;
    padding-block: 30px;
}

.slogan-container .buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.slogan-container .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #0db496;
    border-bottom: 3px solid #0db496;
    border-radius: 30px;
    border-style: solid;
    width: 155px;
    height: 55px;
    margin: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 600;
}

.slogan-container .button:hover {
    background-color: #0db496;
    color: #000;
    opacity: 70%;
}

i {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
}

.testimonials-section {
    background-color: #383737;
}

.testimonials-container h2 {
    color: #0db496;
}

.testimonials-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    align-items: center;
}

.testimonials-container h2 {
    padding-top: 85px;
}

.testimonials-block {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 70vh;
    margin-top: 40px;
}

.testimonials-block .arrow {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(50% - 22.5px);
    transform: translateY(-50%);
    background-color: #fff;
    opacity: .85;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
}

.testimonials-block .arrow svg {
    width: 20px;
    height: auto;
}

.testimonials-block .left svg {
    transform: rotate(180deg);
}

.testimonials-block .arrow:hover {
    opacity: 1;
}

.testimonials-block .left {
    left: 0;
}

.testimonials-block .right {
    right: 0;
}

.testimonials-block :nth-child(4) {
    display: none;
}

.reviewer_block {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviewer_block .text-labels {
    padding-top: 20px;
    font-size: 1.4em;
    font-weight: 600;
    color: #fff;
}


/*section upcoming events*/

.upcoming-section {
    padding: 100px 200px 100px;
}

.upcoming-h {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 52px;
}

.upcoming-b {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block-event {
    background-color: #383737;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 20px;
    width: 50%;
    padding: 60px 40px;
}

.row {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 450px;
}

.text-event {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    color: #0db496;
}

.year-text-event {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    color: #ffffff;
}

.text-event-date {
    color: #b9b9b9;
}

.text-event-learn {
    color: #ffffff;
}

.block-img {
    position: relative;
    height: 100%;
    width: 50%;
}

.block-img img {
    height: 100%;
    width: 100%;
}

.text-in-block {
    padding: 60px 40px;
}

section.programs {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 100%;
    border: 90px 0 90px;
    background-color: #f0efeb;
}

section.programs div.our-programs-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    padding: 20px 20px;
    text-align: center;
}

section.programs div.our-programs {
    display: flex;
    justify-content: center;
    padding: 30px;
}

section.programs div.our-programs a {
    display: flex;
    flex-direction: column;
    background-color: white;
}

section.programs div.our-programs h2 {
    display: block;
    text-align: start;
    font-size: 1rem;
    margin: 20px 0 20px 20px;
}

div.our-programs img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 50% 50%;
    margin: 20px 20px 0 20px;
}

@media (min-width: 600px) {
    section.programs {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    section.programs div.our-programs-title {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        padding: 20px 20px;
        text-align: center;
    }
    section.programs>div.our-programs-title>p {
        text-align: center;
    }
}