footer {
    background-color: var(--dark-color);
}
.footers_container {
    margin: 0 auto;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer_info-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.footer_block {
    width: 20%;
    height: 210px;
    flex-direction: column;
}
.footer_block .footer_nav {
    flex-direction: column;
    align-items: center;
    padding: 13px;
    color: var(--light-grey);
    text-align: start;
}
.footer_nav p {
    font-size: 20px;
}
.footer_block2 {
    width: 20%;
    height: 210px;
    display: flex;
    flex-direction: column;
}
.footer_block2 .footer_nav  {
    
    align-items: center;
    padding: 13px;
    font-size: 20px;
    color: var(--light-grey);
    text-align: start;
}
.footer_nav--follow {
    align-items: center;
    margin-top: 25px;
    padding: 13px;
    font-size: 20px;
    color: var(--light-grey);
    text-align: center;
}
.logo {
    padding: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.ui-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 12px;
    margin-inline: 7px;
    color: #fff;
}
.footer_block >.logo > .letterZ {
    color: var(--accent-color);
}
.social-icons {
    display: flex;
    flex-direction: row;
    margin-top: 25px;

}
.footer_block .social-icons_btn_2 {
    justify-content: center;
}
.footer_block .social-icons_btn_2 a {
    color: var(--light-color);
    box-shadow: 0 0 0 1px var(--light-color);
    
}
.footer_nav-contact {
    flex-direction: column;
    align-items: center;
    margin-block: 25px;
    padding: 13px;
    font-size: 20px;
    color: var(--light-grey);
    text-align: start;
}
.button_footer {
    width: 180px;
    padding-left: 17px;
    margin-top: 25px;
}
.button_footer a {
    padding: 9px;
}
.button_footer a p {
    color: var(--light-color);
}
.contacts-phone {
    padding-left: 24px;
}
#contact-email {
    padding: 10px 22px;
    border-radius: 20px;
    width: 170px;
    background-color: var(--light-grey);
    color: var(--light-color);
}
#contact-email ::-webkit-input-placeholder {
    color: var(--light-color);
}
.contact-phone input::placeholder {
    color: var(--light-color);
}
.underline_block {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    padding-top: 40px;
}
.undeline_text-1 {
    width: 50%;
    align-items: flex-start;
    margin-left: 10px;
}
.undeline_text-2 {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

@media screen and (max-width:1000px) {
    .button_footer a {
        width: 150px;
    }
    #contact-email {
        width: 150px;
    }
    .footer_nav p {
        font-size: 18px;
    }
}
@media screen and (max-width:910px) {
    .button_footer a {
        width: 130px;
    }
    #contact-email {
        width: 130px;
    }
}
@media screen and (max-width:867px) {
    .footer_block a p {
        font-size: 0.9em;
    }
}
@media screen and (max-width:811px) {
    .logo h3 {
        font-size: 22px;
    }
}
@media screen and (max-width:750px) {
    .footers_container {
        height: 127vh;
    }
    .footer_info-container {
        display: block;
        height: 100%;
    }
    .footer_block .logo h3 {
       padding-top: 30px;
       font-size: 50px;
    }
    .footer_info-container :nth-child(4) {
        height: 10%;
    }
    .footer_block .footer_nav {
        text-align: center;
    }
    .footer_block2 .footer_nav {
        text-align: center;
    }
    .footer_block {
        width: 100%;
        height: 190px;
    }
    .footer_block2 {
        width: 100%;
        height: 190px;
    }
    .footer_nav--follow {
        margin-top: 0;
    }
    .footer_nav--follow p {
        font-size: 1.0em;
    }
    .footer_info-container :nth-child(5) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contacts-phone {
        padding-left: 0;
    }
    .underline_block {
        padding-top: 0;
    }
}