/* start of testimonial section  */

.testimonials-section {
    background-color: #383737;
}




.testimonials-block .arrow {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(50% - 22.5px);
    transform: translateY(-50%);
    background-color: #fff;
    opacity: .85;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
}

.testimonials-block .arrow svg {
    width: 20px;
    height: auto;
}

.testimonials-block .left svg {
    transform: rotate(180deg);

}

.testimonials-block .arrow:hover {
    opacity: 1;
}

.testimonials-block .left {
    left: 0;
}

.testimonials-block .right {
    right: 0;
}

.testimonials-block :nth-child(4) {
    display: none;
}


 .stick-gots {
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    margin-bottom: 100px;
}
.stick-gots .element {
    width:10px;
    height: 10px;
    background: var(--light-grey);
    border-radius: 50%;
    margin-inline: 15px;
}
.stick-gots .element span ::before {
    background: var(--light-color);
}
@media screen and (max-width:350px) {
    .testimonials-container {
        display: flex;
        flex-direction: column;
        max-height: 90vh;
        margin: 0 auto;
        width: 100%;
        align-items: center;
    }
    .testimonials-container h4 {
        color: var(--accent-color);
        padding-top: 100px;
        font-size: 52px;
    }
    .testimonials-block {
        position: relative;
        margin-top: 100px;
        
    }
    .containner-for-reviewer-block {
        width: 100%;
        display: flex;
        overflow: hidden;
    }
    .reviewer_block {
        width: 100%;
        margin: 0 15px;
        flex-direction: column;
        align-items: center;
    }
    
    .img_reviewer_block img {
        width: 100%;
        object-fit: cover;
    }
    
    .reviewer_block .text-labels {
        padding-top: 20px;
        font-size: 1.4em;
        font-weight: 600;
        color: var(--light-color);
    }
}




/* end of testimonial section */