/* start of testimonial section  */

.testimonials-section {
    background-color: #383737;
}

.testimonials-block .arrow {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
    top:50%;
    transform: translateY(-50%);
    background-color: #fff;
    opacity: .85;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
}

.testimonials-block .arrow svg {
    width: 20px;
    height: auto;
}

.testimonials-block .left svg {
    transform: rotate(180deg);

}

.testimonials-block .arrow:hover {
    opacity: 1;
}

.testimonials-block .left {
    left: 0;
}

.testimonials-block .right {
    right: 0;
}



@media screen and (max-width:350px) {
    .testimonials-container {
        display: flex;
        flex-direction: column;
        position: relative;
        max-height: 90vh;
        margin: 0 auto;
        width: 100%;
        align-items: center;
    }
    .testimonials-container h4 {
        color: var(--accent-color);
        padding-top: 100px;
        font-size: 52px;
    }
    .testimonials-block {
        position: relative;
        margin-top: 100px;
        height: 400px;
        width: 350px;
        
    }
    .testemonials__carousel-tracker {
        width: 100%;
        height: 100%;
        max-width: 100%;
        display: flex;
        list-style: none;
    }
    .testemonials_carousel  {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0 15px;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .img_testemonial_block img {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }
    
    .testemonials_slide .text-labels {
        padding-top: 20px;
        font-size: 1.4em;
        font-weight: 600;
        color: var(--light-color);
        text-align: center;
    }
}




/* end of testimonial section */