*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}


.description_container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    background-color: #fff;
}
.picture-description-block {
    display: flex;
    justify-content: center;
    width: 50%;
}
.picture-description-block img {
    width: 550px;
}

.description-about-us {
    flex-direction: column;
    width: 50%;
    text-align: left;
    word-wrap: break-word;
}

h2 {
    font-size: 4.3em;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    color: #383737;
}

.container_2-text {
    font-size: 1.3em;
    padding: 20px 0;
    color: #383737;
}

.social-icons_btn_2 {
    display: flex;
    justify-content: left;

}

.social-icons_btn_2 .icon_pic {
    padding-inline-end: 23px;
    padding-block: 15px;
}
p .detail_link {
    text-decoration: none;
    color:#27292b;
    font-weight: 600;
}
.slogan {
    background-color: #383737;
}
.slogan-container {
    max-width: 1200px;
    margin: 0 auto;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slogan-container   {
    color: #0db496;
}

.slogan-container span {
    color: #fff;
    font-size: 1.4em;
    padding-block: 30px;
    
}
.slogan-container .buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.slogan-container .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #0db496;
    border-bottom: 3px solid #0db496;
    border-radius: 30px ;
    border-style: solid;
    width: 155px;
    height: 55px;
    margin: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 600;

}
.slogan-container .button:hover{
	background-color: #0db496;
    color: #000;
    opacity: 70%;
}
i {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform:rotate(-45deg);
}

.left {
    transform: rotate(135deg);
}

.testimonials-section {
    background-color: #383737;
}
.testimonials-container h2 {
    color: #0db496;
    
}
.testimonials-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    align-items: center;
}

.testimonials-container h2 {
    padding-top:85px ;
}
.testimonials-block {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 70vh;
    margin-top: 40px;
}

.testimonials-block .arrow{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(50% - 22.5px);
    transform: translateY(-50%);
    background-color: #fff;
    opacity: .85;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
}

.testimonials-block .arrow svg{
    width: 20px;
    height: auto;
}

.testimonials-block .left svg{
    transform: rotate(180deg);
}

.testimonials-block .arrow:hover{
    opacity: 1;
}

.testimonials-block .left{
    left: 0;
}

.testimonials-block .right{
    right: 0;
}

.testimonials-block :nth-child(4) {
    display: none;
}
.reviewer_block {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviewer_block .text-labels {
    padding-top: 20px;
    font-size: 1.4em;
    font-weight: 600;
    color: #fff;
}